body {
  background-color: rgb(230, 230, 230);
  color: rgb(30, 30, 30);
  font-family: 'Roboto Condensed', sans-serif, Helvetica;
  font-size: 6;
  line-height: 2;
}

h1, h2, h3, p, h4, h5 {
  font-size: 10;
/*  color: pink;*/
  color: rgb(10, 10, 10);
  line-height: 1.5;
  font-family: 'Roboto Condensed', sans-serif, Helvetica;
  font-weight: normal;
  text-align: center;
}

p {
  text-align: left;
  color: #4C4B63;
  font-size: 14
}

h1 {
  font-size: 26;
  font-weight: bold;
  color: #5386E4;
  text-align: center;
}

h5 {
  font-size: 20;
  font-family: 'Roboto Condensed', sans-serif, Helvetica;
  font-weight: bold;
  color: #5386E4;
}

h1:hover {
  color: rgba(50, 50, 200, .75);
}

h2 {
  text-align: center;
  font-size: 13;
  color: rgba(0, 0, 0, 0.4);
}

h2:hover {
  color: rgba(0, 0, 0, .8)
}

h3 {
  color: #5386E4;
  font-weight: bold;
  text-align: left;
  font-size: 17
}

h4 {
  font-family: 'Courgette', cursive;
  font-size: 15;
  color: #4C4B63;
}

a {
  text-decoration: none;
  color: rgb(70, 70, 70);
  font-weight: normal;
  font-size: 17
}

a:hover {
  color: rgba(30, 70, 70, .5);
}

#image-head {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logos {
  text-align: center;
  width: 150px;
}

.logo-box {
  height: 75px;
  width: 75px;
  border-radius: 2.5%;
  display: inline-block;
}

table {
  border-collapse: collapse;
}

td {
  padding: 20px;
  width: 250px;
}

tr {
  border-top: 2px solid lightgrey;
}



.container {
  width: 500px;   /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */
}

.card {
  background: rgba(240, 240, 240, .95);                          /* White background */
  padding: 30px;                              /* Internal space */
  border-radius: 4px;                         /* Small radius */
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 15px;
}

.list-inline li {
  display: inline-block;
  padding: 10px;
}

.list-inline {
  list-style: none;
  padding-left: 90px;
}

.sidebar-inline {
  list-style: none;
  padding-right: 10px;
  padding-left: 15px;
  margin-top: 10px;
}

.sidebar-inline li {
  padding: 10px;
}

#sidebar {
  position: fixed;
  width: 75px;
  left: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .1);
}

#page-content {
  margin-left: 75px;
}

p a {
  color: blue;
}

.sidebar-inline li a {
  font-size: 13;
}

td p a {
  font-size: 14;
}
